<configuration>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5level %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>${log-file:-algebra.log}</file>
        <encoder>
            <pattern>%-5level %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="benchmark" class="ch.qos.logback.core.FileAppender">
        <file>${log-file:-benchmark.log}</file>
        <append>false</append>
        <encoder>
            <pattern>[%thread]: %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
    </root>

    <logger name="App" level="info">
        <appender-ref ref="console"/>
    </logger>

    <logger name="algebra" level="trace">
        <appender-ref ref="file"/>
    </logger>

    <logger name="benchmark" level="info">
        <appender-ref ref="benchmark"/>
    </logger>

</configuration>
